<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="xinlingSuite" parallel="methods" thread-count="1" verbose="1" >
  <test name="UnitTest" >
 	<!--  
 	<classes>
      <class name="com.xinling.test.mathsGame.FunGameTest"/>
    </classes>
    -->
    <packages>
    	<package name="com.xinling.test.mathsGame"></package>
    </packages>
  </test> 
</suite>
